@using TeamJAMiN.Models.ComponentViewModels
@using TeamJAMiN.Models.GameViewHelpers
@model PlayerContractsViewModel

<div class="row">
@foreach (PlayerContractViewModel contractModel in Model.Contracts)
{
    <div class="col-xs-4">
        @if (contractModel.HasActionForm)
        {
            Html.GetActionForm("~/Views/Game/PlayerBoard/PlayerContract.cshtml", Model.Player.Game, contractModel.State, contractModel.Location.ToString(), contractModel);
        }
        else
        {
            Html.Partial("~/Views/Game/PlayerBoard/PlayerContract.cshtml", contractModel);
        }
    </div>
}
</div>